 

p,h6{
    margin: 0;
    padding: 0;
}
::-webkit-scrollbar {
width: 6px;
 
}

 
::-webkit-scrollbar-track {
box-shadow: inset 0 0 5px rgba(110, 148, 197, 0.5);; 
border-radius: 10px;
}

 
::-webkit-scrollbar-thumb {
background:#888888;;
border-radius: 10px;
}

 
::-webkit-scrollbar-thumb:hover {
background:rgba(3, 119, 235, 0.7); 
}


.searchPage_Top_result-count {
    margin-top: 10px;
    margin-bottom: 30px;
    background: #FCFCFC;
    border: 1px solid #E3E3E3;
    box-sizing: border-box;
    box-shadow: 0px 0px 4px rgba(183, 183, 183, 0.25);
    border-radius: 12px;
}
.searchPage_Top_result-count >h2{
    text-align: center;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;

    color: #5F5F5F;
    margin: 10px 0px;
}
.searchPage_Top_frist-top{
    display: flex;
    align-items: center;

    
}
.searchPage_Top_frist-top >h2{

    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;

    color: #292929;
}
.searchPage_Filters_applied-filters{
    display: flex;
    background: #FCFCFC;
    border: 1px solid #CED4DA;
    box-sizing: border-box;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    margin: 0px 8px;
    min-width: 136px;
    height: 44px;
    padding: 0px 10px;

}
.searchPage_Filters_applied-filters >h4{
    padding-top: 5px;
    font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 17px;
line-height: 20px;

color: #5F5F5F;
}
.searchPage_Filters_applied-filters >img{
    height: 14px;
    width: 14px;
    /* margin: 0px 5px; */
    margin-left: 10px;
    cursor: pointer;
}
.searchPage_Filters{
    margin-left: 10px;
    display: flex;
}
.searchPage_result{
    margin-top: 30px;
    background: #FCFCFC;
    border: 1px solid #E3E3E3;
    box-sizing: border-box;
    box-shadow: 0px 0px 4px rgba(183, 183, 183, 0.25);
    border-radius: 12px;
    width: 100%;
    /* height: 1632px; */
    padding-right: 5px;
}
.searchPage_single-result{
    width: 332.5px;
    height: 348px;
    margin:  15px 0px;
    /* background-color: red; */
    /* padding:  0px 5px; */
    border-radius: 12px ;
    box-shadow: 0px 0px 4px rgba(183, 183, 183, 0.25);
    border: 1px solid #E3E3E3;
    box-sizing: border-box;
    background: #FCFCFC;
}
.searchPage_all-result {
    margin-top: 40px;
    padding:  0px 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.searchPage_upper-single{
    display: flex;
     flex-direction: column;
    background-image: url('./img/Rectangle\ 20.png');
    background-repeat: no-repeat;
    height: 50%;
    background-size: 100% 100%;



}


 
.searchPage_Single_lower-single{
    display: flex;
    flex-direction: column;

}
.like-button{
    display: inline-block;
    margin: 6.5px 0px;
    cursor: pointer;
}
.like-button >img{
    position: relative;
    left:140px;
}
.searchPage_Single_detail-section{
 
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 0px 10px;
} 
.searchPage_Single_inner-detail{
margin: 0px 15px;
   display:flex;
   flex-direction: column;
}
.searchPage_Single_vertical-line{
border: 0.5px solid rgba(136, 136, 136, 0.7);
height: 50px;
}
.searchPage_Single_inner-detail >h6{
font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 10px;
line-height: 12px;
/* identical to box height */


color: #888888;
}
.searchPage_Single_inner-detail >p{
font-family: Lato;
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 17px;
/* identical to box height */


color: #525252;
}
.searchPage_Single_lower-single{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.searchPage_Single_lower-single >hr {
   width: 80%;
   margin:8px 0px;
}
.searchPage_Single_apply-div {
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   margin: 9px 0px;

}
.searchPage_Single_apply-div button{
margin: 0px 17px;
}
.searchPage_Single_apply-button{
width: 114px;
border-style: none;
height: 42px;

background: #0377EB;
border-radius: 6px;
font-family: Lato;
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;

color: #FCFCFC;
}
.searchPage_Single_download-button{
width: 114px;
height: 42px;

font-family: Lato;
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;

color: #0377EB;

background: #FCFCFC;
border: 1px solid #0377EB;
box-sizing: border-box;
border-radius: 6px;
}
.searchPage_Single_download-button>img{
   margin: 0px 5px;
}
.searchPage_Single_upperimg{
   display: inline;
   position: absolute;
   z-index: 1;
   margin-top: -35px;
    cursor: pointer;
   
   /* bottom: 100px; */
   
}


.searchPage_Single_top-up{
margin-top: 14px;
display: flex;
justify-content: space-between;
}

.searchPage_Single_upper-left{


background: #43CA03;
border-radius: 0px 6px 6px 0px;
width: 66px;
height: 25px;

}
.searchPage_Single_upper-left >p{
margin: 5px 0px;
text-align: center;
font-family: Lato;
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 14px;

color: #FCFCFC;
}


.searchPage_Single_upper-right{
width: 48px;
height: 25px;


background: #43CA03;
border-radius: 6px 0px 0px 6px;

}

.searchPage_Single_upper-right >P{
margin: 5px 0px;
text-align: center;
font-family: Lato;
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 14px;

color: #FCFCFC;


color: #FCFCFC;
}
















.searchPage_Filters_Mainoverflow_Conatiner{
    padding: 10px 5px;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    background: #fff;
border: 1px solid #E3E3E3;
box-sizing: border-box;

box-shadow: 0px 0px 4px rgba(183, 183, 183, 0.25);
border-radius: 12px;
}
#searchPage_overflowTest {


padding: 15px;
width: 300px;
height: 94px;
overflow-x: hidden;
overflow-y: scroll;

}
::-webkit-scrollbar {
width: 6px;
/* height: 150px; */
background:rgba(208, 209, 211, 0.7);



}

/* Track */
::-webkit-scrollbar-track {
box-shadow: inset 0 0 5px rgba(110, 148, 197, 0.5);; 
border-radius: 10px;
}

/* Handle */
#searchPage_overflowTest::-webkit-scrollbar-thumb {
background:#686c70;
border-radius: 10px;
}

.searchPage_Filters_Mainoverflow_Conatiner::-webkit-scrollbar-thumb {
background:#0377EB;
border-radius: 10px;

}


.searchPage_left-section-heading{
font-family: Lato;
font-style: normal;
font-weight: 900;
font-size: 20px;
line-height: 24px;
/* identical to box height */


color: #5F5F5F;

}
.searchPage_left-section-atag{
 border-style: none;
font-family: Lato;
background-color: #ffffff;
font-style: normal;
font-weight: 900;
font-size: 17px;
line-height: 20px;
text-transform: uppercase;

color: #0377EB;
}
#searchPage_single-check-section{
border: none;
background-color: #fff;
font-family: Lato;
font-style: normal;
font-weight: 900;
font-size: 17px;
line-height: 20px;
text-transform: uppercase;

color: #5F5F5F;

}

#searchPage_it-is-border-nonoe{
border: none;

}
#searchPage_it-is-border-nonoe:hover{
border: none;

}
#it-is-border-bottom{
border: none;
border-bottom: 1px solid #C4C4C4;  
}
#searchPage_search-input{   
padding: 1% 6%;
margin: 1% 1%;
background-image: url('./img/Group\ 252.png');
background-size: contain;
background-repeat: no-repeat;
outline: 0;
background-position: 12px;
background-size: 16px;
color:#979797;
width: 290px;
height: 38px;
line-height: 2.375rem;
text-align: center;
border: 1px solid rgba(41, 41, 41, 0.25);
box-sizing: border-box;
border-radius: 6px;

}
.range-fienld{


font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 17px;
line-height: 20px;
text-transform: capitalize;

color: #5F5F5F;

}
#range-text{
display: flex;
align-items: center;
text-align: center;
width: 7rem;
border: 1px solid #979797;
box-sizing: border-box;
border-radius: 12px;

}
#dast-id {
vertical-align: middle;
}
.searchPage_upper-single >img{

}

.searchPage_Single_location-upper {
    margin-top: 20px;
    height: 71px;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
//  margin-right: -30px;
padding-left: 30px;
 
 background: linear-gradient(0deg, rgba(37, 37, 37, 0.85) -5.23%, rgba(37, 37, 37, 0) 100%);
 
}
.searchPage_Single_location-upper >h6{
font-family: Lato;
font-style: normal;
font-weight: bold;
font-size: 14px;
margin-bottom: 5px;
line-height: 17px;
/* identical to box height */


color: #FCFCFC;
}
.searchPage_Single_location-upper >p{
font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 10px;
line-height: 12px;
/* identical to box height */


color: #E3E3E3;

}





 

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) {    #searchPage_search-input{
        width:190px;
    }

#searchPage_overflowTest{
    width: 195px;
}

label{
    font-size: 11px;
}
.range-fienld{
    font-size: 11px;
}
#range-text{
    width: 4rem;
    font-size: 8px;
}
}  



// mobile
@media only screen and (max-width: 600px) {
.searchPage_Top_frist-top {
    margin-top: 20px;
    flex-direction: column;
}
 
.like-button > img {
    position: relative;
    left: 131px;
}
.searchPage_Single_location-upper {
    padding-left: 45px;
    margin-top: 0px;
    
}
.searchPage_single-check-section{
    height: 360px;
}
#searchPage_search-input {
    width: 299px;
}
label{
    font-size: 17px;
}
#searchPage_overflowTest {
    width: 264px;
}


.range-fienld {
    font-size: 17px;
}

#range-text {
    width: 6rem;
    font-size: 14px;
}


}
.searchPage_Single_youtube-div{

margin-top: 43px;
}